__pycache__

# finetune_demo: generated & downloaded files
finetune_demo/output
finetune_demo/data
finetune_demo/formatted_data
ToolAlpaca/
AdvertiseGen/
*.gz
*.idea

chat.ipynb
composite_demo/registry_mytool.py
.DS_Store
*.log
composite_demo/run_streamlit.sh